.row {
    h3 {
        color: black;
        text-align: left;
        font-weight: bold;
    }

    .product { 
        color: #949494;
        font-size: 0.8rem;
        text-align: left;
        margin-bottom: 10px;
    }
}